.landing-page {
min-height: 600px;
background-image: url("./assets/plants2.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
text-align: center;
padding: 40px;
}

.about-us-container {
color: black;
}